/*
    Index
*/

* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 320px;
}
img {
    width: 100%;
}
h1 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 35px !important;
    font-style: thin !important;
    color: #424344 !important;
}
h2 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    font-style: italic !important;
    color: #424344 !important;
}
a.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: inline-block;
    color: #424344;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 20px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid rgb(66, 67, 68);
    border-bottom-width: 1px;
    text-decoration: none;
}
a.btn:hover {
    border-color: rgb(124, 175, 51);
    color: rgb(124, 175, 51);
}
a.btn:active {
    background-color: #CCC;
    border-color: rgba(0, 0, 0, 0.9);
}
.container-fluid {
    padding: 0 !important;
}
.campo1 .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.campo2 .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.campo3 .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.campo4 .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.campo5 .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.campo2 {
    background: #ebebeb;
}
.campo4 {
    background: #ebebeb;
}
.campo1texto {
    margin-top: 10%;
    padding: 0 15px;
}
.campo2texto {
    margin-top: 10%;
    float: right;
    padding: 0 15px;
}
.campo2texto-red {
    display: none;
}
.campo3texto {
    margin-top: 10%;
    padding: 0 15px;
}
.campo4texto {
    margin-top: 10%;
    padding: 0 15px;
}
.campo4texto-red {
    display: none;
}
.campo5texto {
    margin-top: 10%;
    padding: 0 15px;
}
.campo3img {
    padding-right: 0px !important;
}
.campo3img-red {
    display: none;
    padding-right: 0px !important;
}
.campo4img-red {
    display: none;
    padding-left: 0px !important;
}

@media (max-width: 1199px) {
    .campo1texto {
        width: auto;
        height: 150;
        margin-left: auto;
        margin-top: 10%;
        margin-bottom: 10px;
        text-align: center;
    }
    .campo2texto {
        display: none;
    }
    .campo2texto-red {
        display: block;
        width: auto;
        height: 150;
        margin-left: auto;
        margin-top: 10%;
        margin-bottom: 10px;
        text-align: center;
    }
    .campo3texto {
        width: auto;
        height: 150;
        margin-left: auto;
        margin-top: 10%;
        margin-bottom: 10px;
        text-align: center;
    }
    .campo4texto {
        display: none;
    }
    .campo4texto-red {
        display: block;
        width: auto;
        height: 150;
        margin-left: auto;
        margin-top: 10%;
        margin-bottom: 10px;
        text-align: center;
    }
    .campo5texto {
        width: auto;
        height: 150;
        margin-left: auto;
        margin-top: 10%;
        margin-bottom: 30px;
        text-align: center;
    }
    .campo3img {
        display: none;
    }
    .campo3img-red {
        display: block;
    }
    .campo4img {
        display: none;
    }
    .campo4img-red {
        display: block;
    }
}

/*
    Navbar
*/

#bar-green {
    background: #86c140;
    width: 100%;
    height: 24px;
}

.navbar-header {
    height: 110px !important;
}

.navbar-default {
    margin-bottom: 0px !important;
    background: white !important;
    border-color: white !important;
}

@media (max-width: 767px) {
    #bar-green {
        background: #86c140;
        width: 100%;
        height: 5px;
    }

    .navbar-nav li a {
        font-family: 'Roboto', sans-serif !important;
        font-size: 16px;
    }

    .navbar-brand {
        margin-top: 13px;
    }

    .navbar-toggle {
        margin-top: 40px !important;
    }

    .icon-bar {
        background: #86c140 !important;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        margin-top: 13px;
    }

    .navbar-nav {
        margin-top: 40px !important;
    }

    .margin-navbar {
        margin-left: 5%;
        margin-right: 0%;
    }

    .navbar-nav li a {
        font-family: 'Roboto', sans-serif !important;
        padding: 7px 10px !important;
        border-radius: 7px !important;
    }

    .navbar-nav li a:hover {
        font-family: 'Roboto', sans-serif !important;
        border-color: #86c140 !important;
        background: #86c140 !important;
        color: #fff !important;
        padding: 7px 10px !important;
        border-radius: 7px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand {
        margin-top: 13px;
    }

    .navbar-nav {
        margin-top: 40px !important;
    }

    .margin-navbar {
        margin-left: 15%;
        margin-right: 3%;
    }

    .navbar-nav li a {
        font-family: 'Roboto', sans-serif !important;
        padding: 7px 15px !important;
        border-radius: 7px !important;
    }

    .navbar-nav li a:hover {
        font-family: 'Roboto', sans-serif !important;
        border-color: #86c140 !important;
        background: #86c140 !important;
        color: #fff !important;
        padding: 7px 15px !important;
        border-radius: 7px !important;
    }
}

@media (min-width: 1199px) {
    .navbar-brand {
        margin-top: 13px;
    }

    .navbar-nav {
        margin-top: 40px !important;
    }

    .margin-navbar {
        margin-left: 15%;
        margin-right: 3%;
    }

    .navbar-nav li a {
        font-family: 'Roboto', sans-serif !important;
        padding: 7px 20px !important;
        border-radius: 7px !important;
    }

    .navbar-nav li a:hover {
        font-family: 'Roboto', sans-serif !important;
        border-color: #86c140 !important;
        background: #86c140 !important;
        color: #fff !important;
        padding: 7px 20px !important;
        border-radius: 7px !important;
    }
}

/*
    Footer
*/

footer {
    background: #c2c2c2;
    padding: 30px 0px;
}

footer p {
    color: #5e5e5e;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}