/*
    Pajuçara
*/

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ebebeb !important;
}
#corpotop {
    width: 100%;
}
#corpotop img {
    width: 100%;
}
#conteudo {
    margin: 0 auto;
    width: 90%;
    max-width: 970px;
    min-width: 250px;
}
#conteudo section {
    height: auto;
}
#clienteproduto {
    margin-top: 60px;
}
#clienteproduto p {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-style: thin;
    color: #424344;
}
#assunto {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: light;
    color: #424344;
    text-align: justify;
}
#clienteproduto p {
    margin-bottom: 50px;
}
#row p {
    display: table-cell;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    font-style: light !important;
    padding-left: 40px;
    margin-bottom: -30px;
}
div.figure p + p {
    display: table-caption;
    caption-side: top;
}
#assunto #texto {
    margin-bottom: 40px;
}
#assunto #texto2 {
    padding-top: 40px;
    margin-bottom: 50px;
}
#button2 {
    margin-left: 10px;
}
#imagem a img {
    margin-bottom: 50px;
    width: 135px;
    height: 40px;
}
#row {
    text-align: center;
}
#row a {
    text-decoration: none;
}
#row img {
    padding-right: 35px;
    padding-bottom: 70px;
    padding-left: 35px;
    text-align: center;
}
#conteudo {
    line-height: 200%;
}
@media (max-width: 1087px) {
    #row img {} #row img #img1 {
        float: right;
    }
    #imagem {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 50px;
    }
    #row {
        padding: 25px;
        text-align: center;
    }
}
.glyphicon {
    font-size: 20px;
    color: #86c140;
}
#conteudo span {
    margin-top: 30px;
}
#conteudo span p {
    font-family: 'Roboto', sans-serif !important;
    display: inline-block;
    margin-left: 10px;
}
@media (max-width: 505px) {
    #clienteproduto p {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-style: thin;
        color: #424344;
    }
    #assunto {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: light;
        color: #424344;
        text-align: justify;
    }
    #imagem {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 50px;
    }
    #row {
        text-align: center;
    }
}
@media (max-width: 370px) {
    #clienteproduto p {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-style: thin;
        color: #424344;
    }
    #assunto {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: light;
        color: #424344;
        text-align: justify;
    }
    h3 {
        margin-bottom: 1px !important;
        font-family: 'Roboto', sans-serif !important;
        font-size: 14px !important;
        font-style: light !important;
        text-align: center !important;
    }
    #row img {
        width: 100%;
    }
    #imagem img {
        width: 100%;
    }
}

/*
    Navbar
*/

#bar-green {
    background: #86c140;
    width: 100%;
    height: 24px;
}

.navbar-header {
    height: 110px !important;
}

.navbar-default {
    margin-bottom: 0px !important;
    background: white !important;
    border-color: white !important;
}

@media (max-width: 767px) {
    #bar-green {
        background: #86c140;
        width: 100%;
        height: 5px;
    }

    .navbar-nav li a {
        font-family: 'Roboto', sans-serif !important;
        font-size: 16px;
    }

    .navbar-brand {
        margin-top: 13px;
    }

    .navbar-toggle {
        margin-top: 40px !important;
    }

    .icon-bar {
        background: #86c140 !important;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        margin-top: 13px;
    }

    .navbar-nav {
        margin-top: 40px !important;
    }

    .margin-navbar {
        margin-left: 5%;
        margin-right: 0%;
    }

    .navbar-nav li a {
        font-family: 'Roboto', sans-serif !important;
        padding: 7px 10px !important;
        border-radius: 7px !important;
    }

    .navbar-nav li a:hover {
        font-family: 'Roboto', sans-serif !important;
        border-color: #86c140 !important;
        background: #86c140 !important;
        color: #fff !important;
        padding: 7px 10px !important;
        border-radius: 7px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand {
        margin-top: 13px;
    }

    .navbar-nav {
        margin-top: 40px !important;
    }

    .margin-navbar {
        margin-left: 15%;
        margin-right: 3%;
    }

    .navbar-nav li a {
        font-family: 'Roboto', sans-serif !important;
        padding: 7px 15px !important;
        border-radius: 7px !important;
    }

    .navbar-nav li a:hover {
        font-family: 'Roboto', sans-serif !important;
        border-color: #86c140 !important;
        background: #86c140 !important;
        color: #fff !important;
        padding: 7px 15px !important;
        border-radius: 7px !important;
    }
}

@media (min-width: 1199px) {
    .navbar-brand {
        margin-top: 13px;
    }

    .navbar-nav {
        margin-top: 40px !important;
    }

    .margin-navbar {
        margin-left: 15%;
        margin-right: 3%;
    }

    .navbar-nav li a {
        font-family: 'Roboto', sans-serif !important;
        padding: 7px 20px !important;
        border-radius: 7px !important;
    }

    .navbar-nav li a:hover {
        font-family: 'Roboto', sans-serif !important;
        border-color: #86c140 !important;
        background: #86c140 !important;
        color: #fff !important;
        padding: 7px 20px !important;
        border-radius: 7px !important;
    }
}

/*
    Footer
*/

footer {
    background: #c2c2c2;
    padding: 30px 0px;
}

footer p {
    color: #5e5e5e;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}